@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Fira Code, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 3px 3px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #a7e238; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #42b9f2; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /*border: 3px solid rgb(228, 84, 84); /* creates padding around scroll thumb */
}
